<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>joelbryan.juliano@gmail.com</string>
	<key>contactName</key>
	<string>jjuliano</string>
	<key>description</key>
	<string>Debride bundle for TextMate 2.</string>
	<key>name</key>
	<string>Debride</string>
	<key>uuid</key>
	<string>44BA5FD6-8FD8-4518-B60D-277DAB0A78BE</string>
</dict>
</plist>
